# Sanity CMS
SANITY_STUDIO_PROJECT_ID=0w7asqgt
SANITY_STUDIO_DATASET=production
SANITY_API_TOKEN=

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=

# Intercom
NEXT_PUBLIC_INTERCOM_APP_ID=

# Trustpilot
NEXT_PUBLIC_TRUSTPILOT_BUSINESS_UNIT_ID=

# Core squad micro-frontend (Your Plan page)
NEXT_PUBLIC_CORE_MFE_URL=
